.attachment {
  width: 200px;
  background: #2a5d4b;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  margin-top: 50px;
  color-interpolation-filters: linearRGB;
  z-index: 10;
}

.attachmentPic {
  height: 97%;
  width: 97%;
  border-radius: 5px;
}

.attachment p {
  position: absolute;
  bottom: -13px;
  right: 10px;
  color: white;
}

.sent-chat {
  margin-left: auto;
}
